script(src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0")
script(src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.2.min.js")
script(src="/socket.io/socket.io.js")
script(src="/javascripts/Script.js")


div#mapDiv
